# Flask and Socket.IO
flask-socketio
python-socketio
python-engineio
Flask
kombu

# Azure SDK packages
azure-messaging-webpubsubservice
azure-data-tables
azure-identity
azure-core
redis

# Environment and server
python-dotenv
eventlet
gunicorn
